<!DOCTYPE html>
<html lang="en">
<head>
    <div class="header">  
        <h1 style="color:white;">Page not found &#10071;</h2>
      <span style='font-size:50px;'></span>
      </h1>
    </div>
    <p>
        <p><a href="/"</a>
            <button>Home</button></p>
            <a href="/addAuthors"</a>
                <button>Add Author</button>
              </p>
              <p>
                  <a href="/addBook"</a>
                  <button>Add Book</button>
                </p>
                <p>
                  <a href="/getBooks"</a>
                    <button>List Books</button>
                </p>
                <p>
                  <a href="/getAuthors"</a>
                    <button>List Authors</button>
                </p>
                <p>
                  <a href="/updateAuthor"</a>
                  <button>Update Author</button>
                </p>
                <p>
                  <a href="/deleteBook"</a>
                    <button>Delete Book</button>
                </p>
      </p>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="styles.css">
<html class = "home_bg">
</head>

 
</body>
</html>
