<html>
<head>

    <link rel="stylesheet" href="styles.css">
    <html class = "home_bg"></html>
    <!-- <html class="logo"></html> -->
    <p><img src="logobooks.png" class = "center"></p>
</head>
<body>

<h2 style="color:white;">FIT2095 Library App</h2>
<a href="/addAuthors"</a>
  <button>Add Author</button>
</p>
<p>
    <a href="/addBook"</a>
    <button>Add Book</button>
  </p>
  <p>
    <a href="/getBooks"</a>
      <button>List Books</button>
  </p>
  <p>
    <a href="/getAuthors"</a>
      <button>List Authors</button>
  </p>
  <p>
    <a href="/updateAuthor"</a>
    <button>Update Author</button>
  </p>
  <p>
    <a href="/deleteBook"</a>
      <button>Delete Book</button>
  </p>

</p>

</body>
</html>